body {
    background-image: url("/Users/devincorniea1/Desktop/Coding/Week 4/proj-imgs/Nexus.jpg");
    background-position: center;
    background-color: rgb(80, 2, 80);
}

#header {
    
    background-position: top;
    position: fixed;
    border-radius: 1rem;
    height: auto;
    width: auto;
}

#header-img{
    height: 3.5rem;
    width: 5rem;
    border-radius: 6px;
}

#nav-bar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    float: right;
}

.nav-link {
    text-decoration: none;
    font-family: monospace;
    font-size: 1.45rem;
    color: rgb(252, 238, 238);
    border-radius: 0.5rem;
    background-color: rgb(0, 0, 82);
}

.nav-link:hover {
    border-radius: 1rem;
    background-color: red;
}

#purpose,
#my-friends,
#the-podcast {
    padding-top: 20rem;
}

.description {
    color:rgb(252, 238, 238);
    border-radius: .5rem;
    height: 5rem;
    width: 50rem;
    display: flex;
    justify-content: space-evenly;
    padding-left: 5rem;
}

#purpose-div {
    display: flex;
    height: 50rem;
    width: 50rem;
}

#video-div {
    position: absolute;
    padding-left: 27rem;
}

#form-div {
    padding-top: 15rem;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:rgb(252, 238, 238);
    border-radius: .5rem;
    font-family: monospace;
}

#email {
    border-radius: 0.5rem;
}

#submit {
    border-radius: 0.5rem;
}